/* ゴールとプランのページ送用のCSS */
.my_goal, .today_task, .routing_friend {
    display: none;
}
.goal_active, .task_active, .routing_active {
    display: block;
}
.prev_goal_button, .prev_task_button, .prev_routing_button {
    display: none;
}
.prev_goal_button, .next_goal_button {
    height: 200px;
    width: 30px;
    align-items: center;
    background-color: #f9f9f9;
    color: #84ffc1;
}
.prev_task_button, .next_task_button {
    height: 100px;
    width: 30px;
    align-items: center;
    background-color: #e5ffe5;
    color: black;
}
.prev_routing_button, .next_routing_button {
    height: 200px;
    width: 30px;
    align-items: center;
    background-color: #ededed;
}

/* ボタン */

.button {
    background: #eee;
    border-radius: 3px;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    max-width: 250px;
    padding: 10px 25px;
    font-family: "Noto Sans Japanese";
    color: #333;
    line-height: 1.8;
    text-decoration: none;
    transition: 0.3s ease-in-out;
    font-weight: 500;
}
.button:hover {
    background: #333;
    color: #FFF;
}

@media (max-width: 768px) {
    .prev_goal_button, .prev_routing_button, .prev_task_button {
        width: 20px;
    }
    
    .next_goal_button, .next_routing_button, .next_task_button {
        width: 20px;
    }
}