/* ボタンスタイル */
.button {
    background: #eee;
    border-radius: 3px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    max-width: 250px;
    padding: 10px 25px;
    font-family: "Noto Sans Japanese";
    color: #333;
    line-height: 1.8;
    text-decoration: none;
    transition: 0.3s ease-in-out;
    font-weight: 500;
}

.button:hover {
    background: #333;
    color: #FFF;
}

.button11 {
    padding: 10px 30px;
    font-size: 20px;
    outline: 1px solid white;
    transition: .3s;
}

.button11:hover {
    color: #fff;
    animation: light .8s infinite;
}

@keyframes light {
    100% { 
        outline-color: transparent;
        outline-offset: 10px;
    }
}

/* 全体スタイル */
.body {
    padding: 30px;
}

.home {
    background-color: #eaf4ff;
}

h1 {
    font-size: 25px;
    font-weight: bold;
}

h2 {
    font-weight: bold;
    font-size: 20px;
}

/* ユーザー画像 */
.user_image {
    display: inline-block;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.user_image img {
    height: 100%;
    width: 100%;
    display: block;
}

/* 投稿スタイル */
.post {
    max-width: 1000px;
    background-color: white;
    padding: 20px;
    border: 6px solid #ccffff;
}

.post_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 10px;
}

.post_footer {
    padding: 10px;
    background-color: #f2f2f2;
}

/* コメントスタイル */
.comment_send {
    font-size: 15px;
}

.sent_comment {
    display: flex;
    align-items: center;
}

/* 画像投稿スタイル */
.image_post {
    display: inline-block;
    position: relative;
}

.image_post img {
    width: 100%;
    height: auto;
}

/* ゴール情報 */
.post_goal {
    position: absolute;
    top: 0;
    right: 0;
    color: black;
    border-radius: 50%;
    margin: 10px;
    padding: 30px;
    height: 150px;
    background-color: rgba(132, 255, 193, 0.4);
}

/* メディアクエリ */
@media (max-width: 768px) {
    .routing_friends {
        height: 80px;
    }

    .post_header {
        height: 100px;
    }

    .post_title {
        display: none;
    }

    .post_header2 {
        display: block;
    }

    .post_goal {
        height: 100px;
    }

    .button11 { 
        padding: 10px 15px;   
    }
}

@media (max-width: 480px) {
    .my_goal h2, .my_plan h2, .today_task h2 {
        font-size: 15px;
    }
    
    .my_goal p, .my_plan p, .today_task p {
        font-size: 10px;
    }
}
