/* 全体設定 */
li {
   margin-top: 20px; 
}
.routine-container {
    position: relative;
    width: auto;
    height: auto;
}
/* ルーティン保存ボタン */
#routine_submit {
    margin: 20px 0;
    background-color: #7fbfff;
}

/* プレビュー画面 */
#preview {
    display: block;
    width: 100%;
    height: auto;
}
    /* ヘッダー */
.routine-header {
    position: absolute;
    display: flex;
    justify-content: space-between;
    z-index: 2;
    top: 10px;
    left: 10px;
    width: 95%;
    background-color: rgba(211, 211, 211, 0.5);
    color: black;
}
    /* ユーザ画像 */
.routine .user_image {
    height: 100%;
    width: 100%;
}
.user_name {
    font-size: 20px;
    vertical-align: top;
}
.user {
    width: 30%;
}
    /* タイトル */
.title {
    z-index: 2;
}
    /* 詳細 */
.details {
    position: absolute;
    z-index: 2;
    bottom: 10px;
    right: 10px;
    color: white;
    font-size: 18px;
    background-color: rgba(144, 238, 144, 0.5);
    border-color: #A9A9A9;
    border-width: 3px;
    padding: 10px;
}

/* カラムの設定 */
.main {
    max-width: 300px;
    margin: 0 10px;
    float: left;
    padding: 20px;
    background-color: #eaf4ff;
}
.sidebar {
    width: 700px;
    margin: 0 10px 0 30px;
    float: right;
    background-color: #eafff4;
    padding: 20px;
}

/* レスポンシブデザイン */
@media screen and (max-width: 1100px) {
    /* カラムの変更 */
    .main {
        float: none;
        margin: 20px;
        width: 90%;
    }
    .sidebar {
        float: none;
        width: 90%;
        margin: 20px;
    }
    .content {
        width: auto;
    }
}