
.routine-container {
    position: relative;
    width: auto;
    height: auto;
}
/* プレビュー画面 */
#preview {
    display: block;
    width: 100%;
    height: auto;
}
    /* ヘッダー */
.routine-header {
    position: absolute;
    display: flex;
    justify-content: space-between;
    z-index: 2;
    top: 10px;
    left: 10px;
    width: 95%;
    background-color: rgba(211, 211, 211, 0.5);
    color: black;
}
.routine .user_image {
    height: 100%;
    width: 100%;
}
.user_name {
    font-size: 20px;
    vertical-align: top;
}
.user {
    width: 30%;
}
.title {
    z-index: 2;
}
.details {
    position: absolute;
    z-index: 2;
    bottom: 10px;
    right: 10px;
    color: white;
    font-size: 18px;
    background-color: rgba(144, 238, 144, 0.5);
    border-color: #A9A9A9;
    border-width: 3px;
    padding: 10px;
}